{% block content %}
<h2>Projects</h2>
<p class="lead">Below are a list of projects I am currently working on or have worked on in the past.</p>

<div class="container-fluid">

  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner row w-100 mx-auto">
      <div class="carousel-item col-md-4 active">
        <div class="card text-center">
		  <div class="card-header">
		    <a href="/projects/personalpage">Personal Page</a>
		  </div>
		  <div class="card-block">
		    <p class="card-text">Technologies Used: <br> Python (Django)</p>
		  </div>
		  <div class="card-footer text-muted">
		    In Progress
		  </div>
		</div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card text-center">
		  <div class="card-header">
		    <a href="/projects/edohub">EdoHub</a>
		  </div>
		  <div class="card-block">
		    <p class="card-text">Technologies Used: <br> Python (Django), Sqlite3</p>
		  </div>
		  <div class="card-footer text-muted">
		    In Progress
		  </div>
		</div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card text-center">
		  <div class="card-header">
		    <a href="/projects/foodpicker" target="_blank">Food Picker</a>
		  </div>
		  <div class="card-block">
		    <p class="card-text">Technologies Used: <br> Python (Django)</p>
		  </div>
		  <div class="card-footer text-muted">
		    In Progress
		  </div>
		</div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card text-center">
		  <div class="card-header">
		    <a href="/projects/ilios" target="_blank">Ilios Project</a>
		  </div>
		  <div class="card-block">
		    <p class="card-text">Technologies Used: <br> JS (D3 Library).</p>
		  </div>
		  <div class="card-footer text-muted">
		    2015
		  </div>
		</div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card text-center">
		  <div class="card-header">
		    <a href="/projects/hellrun" target="_blank">Hell Run</a>
		  </div>
		  <div class="card-block">
		    <p class="card-text">Technologies Used: <br> Unity, C#.</p>
		  </div>
		  <div class="card-footer text-muted">
		    2014
		  </div>
		</div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card text-center">
		  <div class="card-header">
		    <a href="/projects/5devgame" target="_blank">5Dev Game</a>
		  </div>
		  <div class="card-block">
		    <p class="card-text">Technologies Used: <br> Java.</p>
		  </div>
		  <div class="card-footer text-muted">
		    2014
		  </div>
		</div>
      </div>
    </div>
	<br>
    <div class="container">
        <div class="row">
            <a class="btn btn-outline-secondary carousel-prev" title="prev"><</a>
            <a class="btn btn-outline-secondary carousel-next" title="next">></a>
        </div>
    </div>
    
  </div>

</div>

{% endblock %}